.list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    padding: 0 2rem;
    width: 90%;
    background-color: white;
    border-radius: 5px;
}
p {
    height: 50px;
}
.button-delete {
    background-color: black;
}